body {
    background: rgb(45,55,57);
background: linear-gradient(135deg, rgba(45,55,57,1) 6%, rgba(0,0,0,1) 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
  }
 

  .container {color: white;
    DISPLAY: flex;
    HEIGHT: 100%;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    JUSTIFY-CONTENT: CENTER;
    flex-flow: column;
  }
  .text-center {
    text-align: center;
    width: 100%;
    display: flex;
    PLACE-CONTENT: CENTER;
  }
  .text-small {
    font-size: 20px;
    font-weight: 800;
  }
  .alert {
    text-transform: uppercase;
    padding-block: 15px;
    color: rgb(0, 0, 0);
    background: rgb(218, 112, 112);
    border: 1px solid red;
    border-radius: 8px;
    width: 35%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

 